---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="map" class="map"></div>
</Layout>

<script>
  import maplibregl from "maplibre-gl";
  import features from "./features.json";
  import "maplibre-gl/dist/maplibre-gl.css";

  import { map } from "./map.js";

  map.dragRotate.disable();

  features.features.forEach((feature) => {
    console.log(feature.geometry.coordinates);

    const [lat, lng] = feature.geometry.coordinates;
    // add marker to map
    const marker = new maplibregl.Marker().setLngLat([lat, lng]).addTo(map);

    const element = marker.getElement();
    element.addEventListener("click", () => {
      alert(`Du klikket på ${feature.properties.name}!`);
    });
    element.style.cursor = "pointer";
  });
</script>

<style>
  .map {
    height: 100vh;
    width: 100vw;
  }
</style>
