---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="map" class="map"></div>
</Layout>

<script>
  import maplibregl from "maplibre-gl";
  import features from "../data/features.json";
  import "maplibre-gl/dist/maplibre-gl.css";
  import { config } from "../config.ts";

  const map = new maplibregl.Map({
    container: "map", // container id
    style: config.style, // style URL
    center: [config.startingPosition.lng, config.startingPosition.lat], // starting position [lng, lat]
    zoom: config.startingPosition.zoom, // starting zoom
  });
  map.dragRotate.disable();

  features.elements.forEach((feature) => {
    // add marker to map
    const marker = new maplibregl.Marker()
      .setLngLat([feature.lon, feature.lat])
      .addTo(map);

    const element = marker.getElement();
    element.addEventListener("click", () => {
      alert(`Du klikket på ${feature.tags.name}!`);
    });
    element.style.cursor = "pointer";
  });
</script>

<style>
  .map {
    height: 100vh;
    width: 100vw;
  }
</style>
