<div>
  <a href="https://maplibre.org/" target="_blank"> MapLibre </a>{" "}
  |{" "}
  <a href="https://www.maptiler.com/copyright/" target="_blank">
    © MapTiler
  </a>{" "}
  <a href="https://www.openstreetmap.org/copyright" target="_blank">
    © OpenStreetMap-bidragsytere
  </a>
</div>

<style>
  div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    gap: 1rem;
    opacity: 0.8;
    background-color: #ff7a00;
    color: white;
    z-index: 1;
    height: 3rem;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
