<div>
  Gjenbruksportalen Bergen
  <slot />
</div>

<style>
  div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 1rem;
    opacity: 0.8;
    background-color: #ff7a00;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3rem;
    color: white;
    z-index: 1;
  }
</style>
