<div>
  Gjenbruksportalen
  <slot />
</div>

<style>
  div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    background-color: #ff7a00;
    font-size: 2rem;
    padding: 1rem;
    color: white;
  }
</style>
