<a href="https://www.framtiden.no/" target="_blank"
  ><img src="/kart/FIVH-logo.png" />
</a>
<style>
  img {
    height: 4rem;
    position: fixed;
    border-radius: 0.25rem;
    left: 1rem;
    bottom: 4rem;
    opacity: 0.8;
  }
</style>
