.panel {
  position: fixed;
  top: 3.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  width: 30%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  z-index: 2;
  overflow-y: hidden;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.panel-content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.panel-header {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: calc(1.5rem + 36px);
  word-break: break-word;
}

.panel-lead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.panel-main-content {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.panel-body {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 1.5rem;
  color: black;
}

.subtle-link {
  color: black;
}

.subtle-link:visited {
  color: black;
}

.panel-footer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 968px) {
  .panel {
    position: fixed;
    top: unset;
    right: unset;
    bottom: 0;
    width: 100dvw;
    height: 50%;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;

  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.edit-link {
  color: #404654;
}

.feature-info-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description-box {
  color: #404654;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-link {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: auto;
  background-color: #ff7a00;
  color: white;
  border-radius: 2rem;
  padding: 1rem;
  width: fit-content;
  a {
    color: white;
  }
}

.edit-form-wrapper {
  flex: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.edit-form-wrapper .form-actions {
  margin-top: auto;
}

.edit-form-wrapper .create-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
