---
import { config } from "../config";
import "../styles/global.css";
---

<!doctype html>
<html lang="nb-no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/kart/favicon.ico" />
    <link rel="manifest" href="/kart/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Gjenbruksportalen</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<!-- <script
  data-goatcounter={config.goatCounterUrl}
  async
  src="//gc.zgo.at/count.js"></script> -->

<style is:global>
  @font-face {
    font-family: "Diatype Regular";
    src: url("/kart/fonts/abc-diatype-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  :root {
    font-family: "Diatype Regular", Arial, Helvetica, sans-serif;
  }

  html,
  body {
    margin: 0;
    font-family: "Diatype Regular", Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  p {
    line-height: 1.2;
  }
</style>
