<!doctype html>
<html lang="nb-no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/kart/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Gjenbruksportalen</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Diatype Regular";
    src: url("/kart/fonts/abc-diatype-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  :root {
    --display-repair: block;
    --display-second-hand: block;
    --display-rental: block;
    --display-label: none;
    font-family: "Diatype Regular", Arial, Helvetica, sans-serif;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Diatype Regular", Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .marker-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    left: 50%;
  }

  .marker-label {
    cursor: pointer;
    display: var(--display-label);
    font-size: 0.85rem;
    font-family: "Diatype Regular", Arial, Helvetica, sans-serif;
    /* This negative margin matches the height of the label, 
  ensuring that the label appearing/disappearing doesn't move the pin */
    margin-bottom: -20px;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }

  .marker-repair {
    display: var(--display-repair);
  }

  .marker-pin {
    cursor: pointer;
  }
  .marker-second-hand {
    display: var(--display-second-hand);
  }
  .marker-rental {
    display: var(--display-rental);
  }
</style>
